.headerWrapper {
    background-color: red;
    margin: 10px;
    font-weight: bold;
    padding: 10px;

}

a {
    margin: 0 10px;
    text-decoration: none;
}

.hiddenLinks {
    display: none;
}

.headerWrapper:hover .hiddenLinks {
    display: flex;
}